[Parameters]
samplerate=16000
numcep=26
numcontext=10
batch_size=16
epochs=10000
learningrate=0.001
model_dir=.model

[Train]
input=/home/zeeshan/zeahmed_data/SpeechData/VCTK-Corpus/sample_featurized/train.scp

[Test]
input=/home/zeeshan/zeahmed_data/SpeechData/VCTK-Corpus/sample_featurized/test.scp

[MFCC Featurizer]
input=/home/zeeshan/zeahmed_data/SpeechData/VCTK-Corpus/sample_train.scp
