[Parameters]
samplerate=8000
numcep=13
numcontext=0
batch_size=16
epochs=10000
learningrate=0.001
model_dir=.model

[Train]
input=/home/zeeshan/zeahmed_data/SpeechData/VCTK-Corpus/sample_featurized/train.scp

[Test]
input=/home/zeeshan/zeahmed_data/SpeechData/VCTK-Corpus/sample_featurized/test.scp

[MFCC Featurizer]
input=/home/zeeshan/zeahmed_data/SpeechData/VCTK-Corpus/sample_train.scp
output=/home/zeeshan/zeahmed_data/SpeechData/VCTK-Corpus/sample_featurized
